footer {
  width: 100%;

  background-color: $bg-black-sec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;

  p {
    color: white;
    font-size: 1.3rem;
    margin: 0;
  }

  .social-media {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: 0.5s all;

    i:hover {
      transform: scale(1.5);
    }
  }
}
