#gallery-section {
  min-height: 90vh;
  margin-top: 75px;
  padding-top: 70px;
  h2 {
    font-size: 3rem;
    color: $txt-blue;

    .bouncy {
      font-size: 3rem;

      &.bouncing {
        animation: rubberband 0.5s alternate ease-out;
        display: inline-block;
      }
    }
  }

  .carousel-item {
    img {
      filter: brightness(40%);
    }
  }
}
