.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  &- {
    &nav {
      @media screen and (max-width: 992px) {
        display: flex;
        place-items: center;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      li {
        font-size: 2rem;
        display: block;
        float: left;

        width: 100px; /*new*/
        text-align: center; /*new*/

        b {
          display: none;
        }
      }

      a {
        // font-family: FontAwesome;
        color: $txt-black;

        text-decoration: none;
        display: block;
        // padding: 15px;

        font-size: 1rem;

        &:hover {
          color: $txt-blue;
        }
        &:hover i {
          display: none;
          color: $txt-blue;
        }
        &:hover b {
          display: block;
          color: $txt-blue;
        }
      }
    }

    &button {
      text-decoration: none;
      background: linear-gradient(90deg, $bg-red, $txt-blue);
      background-size: 400% 400%;
      animation: color 2.5s ease-in-out infinite reverse;
      border-radius: 5px;
      transition: transform 0.3s;

      &:hover {
        animation-play-state: paused;
        color: white;
      }

      &:active {
        transform: scale(1.1);
      }

      button {
        color: white;
        text-decoration: none;
      }

      @keyframes color {
        0% {
          background-position: 0 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0 50%;
        }
      }
    }
  }
}
