#quotes-section {
  min-height: 95vh;
  display: grid;
  place-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    height: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $txt-white;

    .quote {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-style: italic;

      p {
        font-size: 2.5rem;
        display: inline-block;
        height: 400px;
        padding-top: 100px;
      }
    }
  }
}
