#quotes-section {
  min-height: 95vh;
  display: grid;
  place-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    height: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $txt-white;
    padding-top: 200px;

    @media screen and (max-width: 992px) {
      padding-top: 0;
    }

    .quote {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-style: italic;
      width: 50%;

      @media screen and (max-width: 992px) {
        width: 100%;
        align-items: flex-start;
      }

      p {
        font-size: 2.5rem;
        display: inline-block;
        height: 400px;
        padding-top: 100px;

        @media screen and (max-width: 992px) {
          font-size: 2rem;
        }
      }
    }
  }
}
